In [1]:
! pip install pandas

Requirement already satisfied: pandas in c:\framework\env\lib\site-packages (2.2.3)
Requirement already satisfied: tzdata>=2022.7 in c:\framework\env\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: pytz>=2020.1 in c:\framework\env\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\framework\env\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: numpy>=1.22.4 in c:\framework\env\lib\site-packages (from pandas) (2.0.2)
Requirement already satisfied: six>=1.5 in c:\framework\env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

WARNING: You are using pip version 21.2.4; however, version 25.0.1 is available.
You should consider upgrading via the 'C:\framework\env\Scripts\python.exe -m pip install --upgrade pip' command.

In [2]:
import pandas as pd
data=pd.read_csv(r"C:\Users\Meyyappan\Downloads\kidney_disease - kidney_disease.csv")
data

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              400 non-null    int64
 1   age             391 non-null    float64
 2   bp              388 non-null    float64
 3   sg              353 non-null    float64
 4   al              354 non-null    float64
 5   su              351 non-null    float64
 6   rbc             248 non-null    object
 7   pc              335 non-null    object
 8   pcc             396 non-null    object
 9   ba              396 non-null    object
 10  bgr             356 non-null    float64
 11  bu              381 non-null    float64
 12  sc              383 non-null    float64
 13  sod             313 non-null    float64
 14  pot             312 non-null    float64
 15  hemo            348 non-null    float64
 16  pcv             330 non-null    object
 17  wc              295 non-null    object
 18  rc              270 non-null    object
 19  htn             398 non-null    object
 20  dm              398 non-null    object
 21  cad             398 non-null    object
 22  appet           399 non-null    object
 23  pe              399 non-null    object
 24  ane             399 non-null    object
 25  classification  400 non-null    object
dtypes: float64(11), int64(1), object(14)
memory usage: 81.4+ KB

In [4]:
data.isnull().sum()

id                  0
age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [5]:
df = data.drop(['sg', 'appet', 'rc', 'pcv', 'hemo', 'sod', 'id', 'pc', 'pcc','cad'], axis = 1)
df

,age,bp,al,su,rbc,ba,bgr,bu,sc,pot,wc,htn,dm,pe,ane,classification
0,48.0,80.0,1.0,0.0,NaN,notpresent,121.0,36.0,1.2,NaN,7800,yes,yes,no,no,ckd
1,7.0,50.0,4.0,0.0,NaN,notpresent,NaN,18.0,0.8,NaN,6000,no,no,no,no,ckd
2,62.0,80.0,2.0,3.0,normal,notpresent,423.0,53.0,1.8,NaN,7500,no,yes,no,yes,ckd
3,48.0,70.0,4.0,0.0,normal,notpresent,117.0,56.0,3.8,2.5,6700,yes,no,yes,yes,ckd
4,51.0,80.0,2.0,0.0,normal,notpresent,106.0,26.0,1.4,NaN,7300,no,no,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,0.0,0.0,normal,notpresent,140.0,49.0,0.5,4.9,6700,no,no,no,no,notckd
396,42.0,70.0,0.0,0.0,normal,notpresent,75.0,31.0,1.2,3.5,7800,no,no,no,no,notckd
397,12.0,80.0,0.0,0.0,normal,notpresent,100.0,26.0,0.6,4.4,6600,no,no,no,no,notckd
398,17.0,60.0,0.0,0.0,normal,notpresent,114.0,50.0,1.0,4.9,7200,no,no,no,no,notckd
399,58.0,80.0,0.0,0.0,normal,notpresent,131.0,18.0,1.1,3.5,6800,no,no,no,no,notckd

In [6]:
df1 = df.dropna(axis = 0)
print(f"Before dropping all NaN values: {df.shape}")
print(f"After dropping all NaN values: {df1.shape}")

Before dropping all NaN values: (400, 16)
After dropping all NaN values: (166, 16)

In [7]:
object_dtypes = df.select_dtypes(include = 'object')
object_dtypes.head()

      rbc          ba    wc  htn   dm   pe  ane classification
0     NaN  notpresent  7800  yes  yes   no   no            ckd
1     NaN  notpresent  6000   no   no   no   no            ckd
2  normal  notpresent  7500   no  yes   no  yes            ckd
3  normal  notpresent  6700  yes   no  yes  yes            ckd
4  normal  notpresent  7300   no   no   no   no            ckd

In [8]:
df.describe()

,age,bp,al,su,bgr,bu,sc,pot
count,391.000000,388.000000,354.000000,351.000000,356.000000,381.000000,383.000000,312.000000
mean,51.483376,76.469072,1.016949,0.450142,148.036517,57.425722,3.072454,4.627244
std,17.169714,13.683637,1.352679,1.099191,79.281714,50.503006,5.741126,3.193904
min,2.000000,50.000000,0.000000,0.000000,22.000000,1.500000,0.400000,2.500000
25%,42.000000,70.000000,0.000000,0.000000,99.000000,27.000000,0.900000,3.800000
50%,55.000000,80.000000,0.000000,0.000000,121.000000,42.000000,1.300000,4.400000
75%,64.500000,80.000000,2.000000,0.000000,163.000000,66.000000,2.800000,4.900000
max,90.000000,180.000000,5.000000,5.000000,490.000000,391.000000,76.000000,47.000000

In [9]:
! pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\framework\env\lib\site-packages (1.6.1)
Requirement already satisfied: joblib>=1.2.0 in c:\framework\env\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\framework\env\lib\site-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: scipy>=1.6.0 in c:\framework\env\lib\site-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: numpy>=1.19.5 in c:\framework\env\lib\site-packages (from scikit-learn) (2.0.2)

WARNING: You are using pip version 21.2.4; however, version 25.0.1 is available.
You should consider upgrading via the 'C:\framework\env\Scripts\python.exe -m pip install --upgrade pip' command.

In [10]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
cols = ['rbc','ba','htn','dm','pe','ane','classification']
df1[cols] = df1[cols].apply(le.fit_transform)
df1

C:\Users\Meyyappan\AppData\Local\Temp\ipykernel_15008\1247150703.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[cols] = df1[cols].apply(le.fit_transform)

,age,bp,al,su,rbc,ba,bgr,bu,sc,pot,wc,htn,dm,pe,ane,classification
3,48.0,70.0,4.0,0.0,1,0,117.0,56.0,3.8,2.5,6700,1,0,1,1,0
9,53.0,90.0,2.0,0.0,0,0,70.0,107.0,7.2,3.7,12100,1,1,0,1,0
11,63.0,70.0,3.0,0.0,0,0,380.0,60.0,2.7,4.2,4500,1,1,1,0,0
14,68.0,80.0,3.0,2.0,1,1,157.0,90.0,4.1,6.4,11000,1,1,1,0,0
20,61.0,80.0,2.0,0.0,0,0,173.0,148.0,3.9,5.2,9200,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,0.0,0.0,1,0,140.0,49.0,0.5,4.9,6700,0,0,0,0,1
396,42.0,70.0,0.0,0.0,1,0,75.0,31.0,1.2,3.5,7800,0,0,0,0,1
397,12.0,80.0,0.0,0.0,1,0,100.0,26.0,0.6,4.4,6600,0,0,0,0,1
398,17.0,60.0,0.0,0.0,1,0,114.0,50.0,1.0,4.9,7200,0,0,0,0,1
399,58.0,80.0,0.0,0.0,1,0,131.0,18.0,1.1,3.5,6800,0,0,0,0,1

In [11]:
X = df1.drop(['classification'], axis = 1)
y = df1['classification']

In [12]:
y.value_counts()

classification
1    116
0     50
Name: count, dtype: int64

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [14]:

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

# Initialize and train the RandomForestClassifier
rf_classifier = RandomForestClassifier(random_state=42)  # You can adjust hyperparameters here
rf_classifier.fit(X_train, y_train)

# Make predictions on the test set
y_pred = rf_classifier.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy of the RandomForestClassifier: {accuracy}")

Accuracy of the RandomForestClassifier: 0.9705882352941176

In [16]:
from sklearn.model_selection import cross_val_score

# Perform 5-fold cross-validation
cv_scores = cross_val_score(rf_classifier, X, y, cv=5)

# Print the cross-validation scores
print("Cross-Validation Scores:", cv_scores)

# Print the mean and standard deviation of the scores
print("Mean CV Score:", cv_scores.mean())
print("Standard Deviation of CV Scores:", cv_scores.std())

Cross-Validation Scores: [0.97058824 1.         1.         1.         1.        ]
Mean CV Score: 0.9941176470588236
Standard Deviation of CV Scores: 0.011764705882352944

In [17]:
import pickle
model = rf_classifier # Now rf_classifier is defined

# Save the model to a pickle file
filename = 'random_forest_classifier_kidney.pkl'
pickle.dump(model, open(filename, 'wb'))

# Load the model from the pickle file
loaded_model = pickle.load(open(filename, 'rb'))